@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@font-face {
  font-family: 'LeMurmure';
  src: local("LeMurmure"), url(fonts/LeMurmure-Regular.woff) format("woff");
}

a {
  font-family: aktiv-grotesk, sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover, a:active {
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
